//-
   Created with JetBrains WebStorm.
   User: Robert
   Date: 13-4-27
   Time: 下午2:24

#tickets
    h3.title 风云天下
    p 《风云天下》即将推出，敬请期待！

    ul
        li
            label.username.required(for='username') &nbsp;
            input#username.k-textbox(
            type='text',
            name='username',
            placeholder='您的用户名',
            required,
            validationMessage='请输入您的ID')
        li
            label.password.required(for='password') &nbsp;
            input#password.k-textbox(
            type='password',
            name='password',
            placeholder='您的密码',
            required,
            validationMessage='请输入您的密码')

        li.accept
            button#login-button.k-button(type='submit') 进 入
            div 新来的？
                span 创建

        li.status.invalid

img#preload.hide(src='/img/button-loading.gif')